.service
  .row
    .col-md-4
      .cell
        a(href='/descriptors/serviceDetail?id={{id}}')
          img(ng-src='{{icon}}', alt='...')
    .col-md-2
      .cell
        {{name}}
    .col-md-2
      .cell
        {{providerName}}
    .col-md-4
      .cell
        {{description}}